@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
}
.head {
    font-family: 'Darumadrop One' ;
}
#main-content{
    width: 100%;
    height: 94vh;
}