::-webkit-scrollbar {
    display: none;
}
body{
    background: #bdbdbd;
}
.whoami{
    display: flex;
    margin: 100px;
}

.whoami .ques{
    font-size: 3em;
    margin: auto;
    width:21em;
}
.whoami .ans{
    margin-left: 50px;
    font-size: 2.3em;
}
.card-row{
    display: flex;
    justify-content: center;
}
.card-row .card{
    margin: 0 20px ;
}
.text{ display: flex;
    margin: 100px;
}

.text .text-1{
    font-size: 2.5em;
    margin: auto;
}
.text .text-2{
    margin-left: 50px;
    font-size: 2em;
}
.footer{
    background: #000;
    color: white;
    margin-top: 50px;
}
.footer .top{
    display: flex;
    justify-content: space-evenly;
}
.footer .bot-end ul{
    background: #000;
    list-style: none;
    margin-bottom: 0;
    display: flex;
    width: 70%;
    margin: 50px auto 0 auto;
    
}
.footer .bot-end ul li {
    margin: 0 10px;
}
.footer .bot-end ul li img {
    margin-bottom: 100px;
}

.footer .top a .top ul,
.footer .top .mid ul,
.footer .top .end ul{
    margin-top: 50px;
    font-size: 20px;

}
.footer .top .mid ul,
.footer .top .end ul{
    list-style: none;
}
.footer a {
    text-decoration: none;
    color: white;
}
.footer a:hover{
    text-decoration: none;
    color: white;
}
.footer a img{
    width: 10rem;
}
.footer .title{
    margin: 0;
    display: flex;
    align-items: center;
    display: inline;
    font-size: 2rem;
}